/* Lander */
.mainLander {
  background-color: #000000;
  color: black;
  position: absolute;
  width: 100%;
  height: 94vh;
  transform: translate(0px, 50px);
  padding: 15px 10px;
}

.mainLander .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sideSec {
  color: white;
  background-color: #171717;
  border: 2px solid #191919;
  border-radius: 10px;
  padding: 15px 15px;
  height: 90vh;
}

.saved-card {
  border: 1px solid #191919;
  border-radius: 5px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: -85px 0px 20px rgba(33, 33, 33, 0.689) inset;
}

.saved-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.text-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: orange;
  height: 50px;
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
}

.option-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
}

.first {
  background-color: rgb(255, 185, 56);
  border: 1px solid rgb(190, 124, 1);
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 10px;
}

.second, .fourth {
  border-right: 2px solid #40576d33;
}

.text-options button {
  border: none;
  color: #131c35;
  font-size: 20px;
  font-weight: 300;
  background-color: transparent;
  padding: 10px 16px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: rgb(255, 185, 56);
}

.first button:hover {   
  background-color: rgb(255, 185, 56);
  box-shadow: none;
}

button.active, .first button:active {
  background-color: rgb(255, 185, 56);
  color: #5271ff;
}

.third {
  border-right: 2px solid #40576d33;
}

.third button:focus {
  background-color: #73b1e333;
  color: #5271ff;
}

input[type=color] {
  width: 35px;
  outline: none;
  border: none;
  background: none;
}

input[type=number] {
  outline: none;
  border: none;
  background-color: transparent;
  width: 40px;
  font-size: 18px;
  padding: auto;
  margin: auto;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.font-change button {
  font-size: 20px;
}

.main-text-area textarea {
  max-height: 100%;
  padding: 20px;
  height: 83vh;
  width: 100%;
  resize: none;
  border: none;
  border-radius: 0px 0px 5px 5px;
  box-shadow: none;
}

.main-text-area textarea:hover,
.main-text-area textarea::after,
.main-text-area textarea:focus  {
  box-shadow: none;
  border: none;
}

textarea::-webkit-scrollbar{
  display: none;
}