body {
  margin: auto;
  padding: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins';
  font-weight: 300;
}

.row {
  max-width: 100%;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a, a:hover {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  color: #ffffff;
  background-color: #171717;
}

.navbar-brand, .nav-item .nav-link {
  color: #ffffff;
}

/* Lander */
.mainLander {
  background-color: yellow;
  color: black;
  position: absolute;
  width: 100%;
  height: 94vh;
  transform: translate(0px, 50px);
  padding: 0px 10px;
  display: flex;
  align-items: flex-start;
}

.sideSec {
  color: white;
  background-color: #171717;
  border: 2px solid #191919;
  border-radius: 5px;
  padding: 40px 15px;
  height: 90vh;
}

.saved-card {
  border: 1px solid #191919;
  border-radius: 5px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: -85px 0px 20px rgba(33, 33, 33, 0.689) inset;
}

.saved-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}