body {
  margin: auto;
  padding: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins';
  font-weight: 300;
}

.row {
  max-width: 100%;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a, a:hover {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  color: #ffffff;
  background-color: #171717;
  height: 40px;
}

.navbar-brand, .nav-item .nav-link {
  color: #ffffff;
}

.navbar-brand:hover {
  color: #ffffff;
}